ansicolors==1.1.8
certifi==2021.10.8
charset-normalizer==2.0.7
discid==1.2.0
filelock==3.3.2
fuzzywuzzy==0.18.0
idna==3.3
musicbrainzngs==0.7.1
mutagen==1.45.1
pyaml==21.10.1
python-Levenshtein==0.12.2
PyYAML==6.0
requests==2.26.0
urllib3==1.26.7
