ansicolors==1.1.8
certifi==2022.9.24
charset-normalizer==2.1.1
discid==1.2.0
filelock==3.8.0
fuzzywuzzy==0.18.0
idna==3.4
Levenshtein==0.20.8
musicbrainzngs==0.7.1
mutagen==1.46.0
pyaml==21.10.1
python-Levenshtein==0.20.8
PyYAML==6.0
rapidfuzz==2.13.2
requests==2.28.1
urllib3==1.26.12
