ansicolors==1.1.8
certifi==2021.5.30
chardet==4.0.0
discid==1.2.0
filelock==3.0.12
fuzzywuzzy==0.18.0
idna==2.10
musicbrainzngs==0.7.1
mutagen==1.45.1
pyaml==20.4.0
python-Levenshtein==0.12.2
PyYAML==5.4.1
requests==2.25.1
urllib3==1.26.6
